# Local backend
NEXT_PUBLIC_API_URL=http://localhost:10000
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# Render
# NEXT_PUBLIC_API_URL=https://paladinhubv2-server.onrender.com
# NEXT_PUBLIC_SITE_URL=https://paladinhubv2-client.onrender.com
